.experience {
  &__duration,
  &__position,
  &__company,
  &__description {
    display: flex;
  }

  &__description {
    .experience__value {
      margin: 0;

      @media screen and (max-width: 767px) {
        margin-top: 10px
      }
    }
  }

  &__label {
    flex: 0 0 140px;
    color: #7f8c8d;
  }
}

@media (min-width: 768px), print {
  .experience__item {
    margin-top: 30px
  }
}

@media print {
  .experience__item {
    margin-top: 0
  }
}

@media (min-width: 768px), print {
  .experience__item + .experience__item {
    margin: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .experience__item + .experience__item {
    margin: 15px 0;
  }
}

@media print {
  .experience__item + .experience__item {
    margin: 10px 0;
  }
}