.key-value-item {
  display: flex;
  margin: 0;

  &__key {
    flex: 0 0 170px;
    color: #7f8c8d;

    &_small {
      flex-basis: 170px;
    }

    [lang="ua"] & {
      flex-basis: 170px;
    }
  }

  &__value {
    margin: 0;
  }
}
