<div class="experience">
    {% for item in site.data.experience[page.language] %}
    <div class="experience__item" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <dl class="key-value-item">
            <dt class="key-value-item__key">Years:</dt>
            <dd class="key-value-item__value">{{ item.duration }}</dd>
        </dl>

        <dl class="key-value-item">
            <dt class="key-value-item__key">Company:</dt>


            <dd class="key-value-item__value">
                {% if item.company.url %}
                <a itemprop="name"
                   href="//{{ item.company.url }}"
                   title="{{ item.company.url }}"
                   target="_blank">{{ item.company.name }}</a>
                {% else %}
                {{ item.company.name }}
                {% endif %}
            </dd>

        </dl>

        <dl class="key-value-item">
            <span class="key-value-item__key">Position:</span>
            <dd class="key-value-item__value">{{ item.position }}</dd>
        </dl>


        <div class="key-value-item">
            <dt class="key-value-item__key">Responsibilities:</dt>
            <dd class="key-value-item__value" itemprop="description">{{ item.description }}</dd>
        </div>
    </div>
    {% endfor %}
</div>
