{% assign scientificWork = site.data.scientific_work %}

<div class="scientific-work">
    <div class="scientific-work__item">
        <span class="scientific-work__label">Years:</span>
        <span class="scientific-work__value">{{ scientificWork.duration }}</span>
    </div>

    <div class="scientific-work__item">
            <span class="scientific-work__label">Research Interests:</span>
        <span class="scientific-work__value">{{ scientificWork.description }}</span>
    </div>

    <div class="scientific-work__item">
        <span class="scientific-work__label">Publications:</span>
        <span class="scientific-work__value">{{ scientificWork.achievements }}</span>
    </div>
</div>