* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.44;
  color: #262626;

  @media print {
    & {
      font-size: 13px
    }
  }

  @media screen and (max-width: 767px) {
    margin: 10px 0;
  }

  @media (min-width: 768px), print {
    margin: 50px 0;
  }

  @media print {
    margin: 0;
  }
}

h1, .h1 {
  margin: .4em 0 .1em;

  @media print {
    font-size: 23px;
    margin: .1em 0;
  }
}

h3, .h3 {
  @media print {
    font-size: 15px;
  }
}

a {
  color: #55acee;
  text-decoration: none;
  transition: color 0.15s;

  &:hover,
  &:focus {
    color: #006daa;
  }

  &[href^="//"],
  &[href^="http"] {
    &:after {
      content: "\e900";
      position: relative;
      font-size: .5em;
      top: -.6em;
      left: .5em;
      font-family: 'icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
    }

    @media print {
      &:after {
        content: '';
      }
    }
  }
}

.visible-print {
  display: none;

  @media print {
    display: block;
  }
}

.container {
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    width: 884px;
  }

  @media (min-width: 768px) and (max-width: 1023px), print {
    width: 708px;
  }

  @media screen and (max-width: 767px) {
    margin: 0 10px;
  }
}

.separator {
  @media (min-width: 768px), print {
    margin: 15px 0;
  }
}

.two-sections {
  display: flex;
  flex-wrap: wrap;

  .section {
    flex: 1 0 50%;
    min-width: 350px;

    &_languages {
      @media screen and (min-width: 1024px), print {
        padding-left: 20%;
      }
    }
  }
}
