if scientificWork
	.scientific-work__column
		.scientific-work__row
			.scientific-work__key Years:
			.scientific-work__value!= scientificWork.duration
		
		.scientific-work__row
			.scientific-work__key Place:
			.scientific-work__value!= scientificWork.place

		.scientific-work__row.scientific-work__row_big
			.scientific-work__key Description:
			p.scientific-work__text
				!= scientificWork.description
			
	.scientific-work__column
		.scientific-work__row.scientific-work__row_big
			.scientific-work__key Publications:
			p.scientific-work__text
				!= scientificWork.publicationDescription
		.scientific-work__row.scientific-work__row_big
			.scientific-work__key Examples of Publications:
			p.scientific-work__text
				each publication in scientificWork.publications
					.scientific-work__row
						a.scientific-work__link(href!=publication.url target="_blank")!= publication.name


