.scientific-work
	display flex
	margin 0 -10px
	
	&__column
		flex 0 0 50%
		padding 0 10px
		
	&__row
		margin 3px 0
		&:not(.scientific-work__row_big)
			display flex 
	
	&__key
		margin-right 5px
		color #7f8c8d
	
	&__text
		margin 0