.scientific-work
	@media tablet_desktop
		display flex
		margin 0 -10px
	
	&__column
		@media tablet_desktop
			flex 0 0 50%
			padding 0 10px
		
	&__row
		@media tablet_desktop
			margin 3px 0
		@media phone
			margin 6px 0
		&:not(.scientific-work__row_big)
			display flex 
	
	&__key
		margin-right 5px
		color #7f8c8d
	
	&__text
		margin 0