.experience
	&__item
		@media tablet_desktop
			margin-top 20px
			display flex
			margin-left	-5px
			margin-right -5px
			
		@media phone
			margin-top 10px
		@media print
			margin-top 0
		
		& + .experience__item
			margin-top 30px
			
			@media print
				margin-top 10px
	&__duration
	&__company
	&__position
		display flex
		
	&__label
		flex-basis 80px
		flex-shrink 0
		color #7f8c8d
		
	&__value
		flex-grow 1

	&__description
		.experience
			&__value
				margin 0
	&__column
		@media tablet_desktop
			padding 0 5px
		&_left
			@media tablet_desktop
				flex-basis 60%
		&_right
			@media tablet_desktop
				flex-basis 40%
			