extends ./layouts/root

block root
	.container
		main.main
			section.section#main
				.main-info
					include ./blocks/main-info/main-info
			hr.separator
			section.section#experience
				h1.section__title #[span.section__icon.icon-chart] Work Experience
				.experience
					include ./blocks/experience/experience
			hr.separator
			section.section#education
				h1.section__title #[span.section__icon.icon-cap] Education
				.education
					include ./blocks/education/education
			hr.separator
			section.section#scientificWork
				h1.section__title #[span.section__icon.icon-gears] Scientific Work
				.scientific-work
					include ./blocks/scientific-work/scientific-work
			hr.separator
			section.section#publicactivity
				h1.section__title #[span.section__icon.icon.icon-case] Public Activity
				.public-activity
					include ./blocks/public-activity/public-activity
			hr.separator
			section.section#languages
				h1.section__title #[span.section__icon.icon.icon-world] Languages
				.languages
					include ./blocks/languages/languages
			hr.separator
			section.section#soft-skills
				h1.section__title #[span.section__icon.icon-summary] Personal qualities
				.soft-skills
					include ./blocks/soft-skills/soft-skills